<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aprbrother.aprilbeacondemo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Where_you_are"
        android:theme="@android:style/Theme.Holo.NoActionBar">
        <activity
            android:name="com.aprbrother.aprilbeacondemos.BeaconList"
            android:label="Where_you_are">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aprbrother.aprilbeacondemos.ModifyActivity" />
        <activity android:name="com.aprbrother.aprilbeacondemos.RequestActivity" />
        <activity android:name="com.aprbrother.aprilbeacondemos.ResultActivity" />
        <activity android:name="com.aprbrother.aprilbeacondemos.EddyStoneScanActivity" />
        <activity android:name="com.aprbrother.aprilbeacondemos.EddyStoneModifyActivity" />
        <activity android:name="com.aprbrother.aprilbeacondemos.insert_user_information" />
        <activity android:name="com.aprbrother.aprilbeacondemos.show_where_list" />
        <activity android:name="com.aprbrother.aprilbeacondemos.Search_data"/>

        <receiver android:name="com.aprbrother.aprilbeacondemos.MyServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.aprilbrother.aprilbrothersdk.service.BeaconService"
            android:exported="false" />
        <service
            android:name="com.aprbrother.aprilbeacondemos.NotifyService"
            android:exported="false" />
        <service
            android:name="com.aprbrother.aprilbeacondemos.background2"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>